@model Mosaic.WebUI.Models.GenerateMosaicModel

@{
    ViewData["Title"] = "_PieChart";
}

<html>
<body>
    <figure>
        <div class="col-md-6 pad-bottem">
            <canvas id="myCanvas"></canvas>
            <figcaption class="piechart-info">
                Colours found in tile images
            </figcaption>
        </div>
        <div class="col-md-6 pad-bottem">
            <canvas id="myMasterCanvas"></canvas>
            <figcaption class="piechart-info">
                Colours found in master image
            </figcaption>
        </div>
    </figure>
</body>
</html>

<script type="text/javascript" src="~/js/PieChart.js"></script>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(function () {

        var tilesData = @Html.Raw(@Model.ColoursModel.JsonTileImageColours);
        var tilesColours = @Html.Raw(@Model.ColoursModel.JsonTileImageHexColours);

        var myCanvas = document.getElementById("myCanvas");
        var tilePieChart = createPieChart(myCanvas, tilesData, tilesColours);

        var masterData = @Html.Raw(@Model.ColoursModel.JsonMasterImageColours);
        var masterColours = @Html.Raw(@Model.ColoursModel.JsonMasterImageHexColours);

        var myMasterCanvas = document.getElementById("myMasterCanvas");
        var masterPieChart = createPieChart(myMasterCanvas, masterData, masterColours);

        $(document).on("customChartRedraw", function (evt) {
            evt.preventDefault();
            updateColourAnalysis(evt.size, evt.size);
        });

        var updateColourAnalysis = function (height, width) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateColourAnalysis", "Generate")',
                dataType: 'json',
                cache: false,
                data: { id: "@Model.ProjectId", height: height, width: width },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Invalid request");
                },
                success: function (response) {
                    masterPieChart.data = JSON.parse(response.jsonMasterImageColours);
                    masterPieChart.colors = JSON.parse(response.jsonMasterImageHexColours);
                    masterPieChart.draw();
                    $.event.trigger({
                        type: "customLibrarySuitability",
                        suitability: response.librarySuitability
                    });
                },
            });
        }
    });
</script>

