@model Mosaic.WebUI.Models.GenerateMosaicModel

@{
    ViewData["Title"] = "Generate";
}

<div class="jumbotron">
    <h1 class="display-4">Generate Mosaic Image</h1>
    <hr class="my-4">
    <p>Generate the mosaic image from your master and tile images</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="media">
                @if (Model.State == ProjectStructure.Types.State.Completed){
                    <img id="mosaic-image" class="mr-3" alt="Bootstrap Media Preview" src="@Model.MosaicLocation" width="100%" />
                }
                else {
                    <img id="mosaic-image" class="mr-3" alt="Bootstrap Media Preview" src="@Model.MasterLocation" width="100%" />
                }
            </div>
        </div>
        <div class="col-md-6">
            <h3>
                <span style="color:#d34615; font-size:2em;">@Model.TileImageCount</span>
                Tile images added
            </h3>
            <h3>
                <span style="color:#d34615; font-size:2em;">10.4%</span>
                match between colours found in master image and the colours found in tile images
            </h3>
            <button id="generate_mosaic" type="button" class="btn btn-primary">
                Generate
            </button>
            <button id="generate_random_mosaic" type="button" class="btn btn-primary">
                Randomise
            </button>
            <ul>
                <li>Watch how to get the best result</li>
                <li>Add pictures with colors similar to the colors found in your master image.
                <li>Tile Images which match the colours will be displayed, future feature will include randomness</li>
                <li>If the mosaic image generated is not to your liking you can go back and adjust your tile library</li>
                <li>Check to make sure the square auto crop looks good. If not, click it to crop and rotate manually.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
    $(function () {

        var generateMosaic = function (id, random) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateMosaic", "Generate")',
                dataType: 'json',
                cache: false,
                data: { id: id, random : random },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Invalid request");
                },
                success: function (response) {
                    $('#mosaic-image').attr("src", response + "?rnd=" + Math.random());
                },
                complete: function () {
                    $('#generate_mosaic').attr("disabled", false);
                    $('#generate_random_mosaic').attr("disabled", false)
                }
            });
        }

        $("#generate_mosaic").click(function () {
            $(this).attr("disabled", true);
            $('#generate_random_mosaic').attr("disabled", true)
            generateMosaic("@Model.ProjectId", false);

        });

        $("#generate_random_mosaic").click(function () {
            $(this).attr("disabled", true);
            $('#generate_mosaic').attr("disabled", true)
            generateMosaic("@Model.ProjectId", true);
        });
    });

</script>
