@model Mosaic.WebUI.Models.IndexedLocationModel

@{
    ViewData["Title"] = "Indexed Files";
}

<h2>Indexed Files</h2>

@Html.ValidationMessageFor(m => m.IndexedLocation)
@Html.TextBoxFor(m => m.IndexedLocation)
<button id="update_indexed_location" class="btn">Update</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Image File Path
            </th>
            <th>
                Image File Name
            </th>
            <th>
                Date Last Modified
            </th>
            <th>
                File Options
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {*@
        <tr>
            <td>
                @Html.DisplayFor(model => model.IndexedLocation)
            </td>
            <td>
                @Html.DisplayFor(model => model.Error)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsIndexedLocationValid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        @*}*@
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(function () {

        $("#update_indexed_location").click(function () {
            var data = $("#IndexedLocation").val()
            updateIndexedLocation(data);
        });

        var updateIndexedLocation = function (IndexedLocation) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateIndexedLocation", "Create")',
                dataType: 'json',
                cache: false,
                data: { IndexedLocation: IndexedLocation },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Invalid request");
                    // Display a toastr message to indicate failure
                },
                success: function () {
                    alert("Valid request");
                    // Once implemented this will call the function to update the file list
                }
            });
        }
    });



</script>