@model Mosaic.WebUI.Models.IndexedLocationModel

@{
    ViewData["Title"] = "Indexed Files";
}

<h2>Indexed Files</h2>


<input type="text"/>
<button class="btn">button</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndexedLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Error)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIndexedLocationValid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {*@
            <tr>
                <td>
                    @Html.DisplayFor(model => model.IndexedLocation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Error)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IsIndexedLocationValid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        @*}*@
    </tbody>
</table>
