@model Mosaic.WebUI.Models.ProjectModel

@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_ImageCarousel")

<div class="index-content">
    <div id="project-container" class="container">
        @for (int i = 0; i < Model.Projects.Count; i++)
        {
            <div class="col-lg-4">
                <a href="@Url.Action("SelectProject", "Home", new { Id = Model.Projects[i].Id})">
                    <div class="card" id="@Model.Projects[i].Id">
                        <img src="~/images/face_image.jpg">
                        <table class="project-table">
                            <tr>
                                <th class=" text-muted glyphicon glyphicon-picture" title="Mosaic Location" aria-hidden="true"></th>
                                <td class="card-text">@Html.DisplayFor(model => model.Projects[i].Id, new { @class = "text-muted" })</td>
                            </tr>
                            <tr>
                                <th class=" text-muted glyphicon glyphicon-open-file" title="Files in Library" aria-hidden="true"></th>
                                <td class="card-text">@Html.DisplayFor(model => model.Projects[i].SmallFileIds.Count, new { @class = "text-muted" })</td>
                            </tr>
                            <tr>
                                <th class="text-muted glyphicon glyphicon-calendar" title="Created" aria-hidden="true"></th>
                                <td class="card-text">@Html.DisplayFor(model => model.Projects[i].TimeOfCreation, new { @class = "text-muted" })</td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
        }
    </div>
</div>




